    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px;
      line-height: 60px;
     }
    
    .hautPage{
    margin: 5px;
    padding: 50px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color : rebeccapurple;
    border: 5px solid darkblue;
    width: 90%;
    height: 20%;
    }
    .sectionPrincipale{
    margin: 5px;
    padding: 50px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color : green;
    border: 5px solid darkblue;
    width: 90%;
    height: 30%;
    }
    .sectionSecondaire{
    margin: 5px;
    padding: 50px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color : pink;
    border: 5px solid darkblue;
    width: 90%;
    height: 30%;
    }
 
    .basPage{
    margin: 5px;
    padding: 50px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color : #e6eaea;
    border: #ffffff;
    width: 90%;
    height: 10%;
 
    }
    .sigleINSAbox{
    border:none;
    border-radius:10px;
    max-width: 200px;
    margin-left: 10px;
    }
    .sigleINSAbox img{
    max-width: 100%;
    object-fit: contain;
    margin: auto;
    }
    .planSite{
    margin : auto;
    }
    .contacts{
    margin : auto;
    }

